.parent{

    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns:repeat(4, 100px 200px);
    grid-template-rows: repeat(2, 100px 200px);
    gap: 20px;
    column-gap: 50px;
    row-gap: 30px;

}

.child{

    border: 1px solid black;
    background-color: crimson;
}

